AI Workflow_ Learning Journey Showcase.json
{
  "name": "AI Workflow: Learning Journey Showcase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": []
        },
        "documentId": {
          "__rl": true,
          "value": "11Xrd5u9Te4A2mIqZX7OFnHisYGfickBSFb8FBH4WN4U",
          "mode": "list",
          "cachedResultName": "Learning summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Xrd5u9Te4A2mIqZX7OFnHisYGfickBSFb8FBH4WN4U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Xrd5u9Te4A2mIqZX7OFnHisYGfickBSFb8FBH4WN4U/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "0d4e271c-d19c-4409-92e8-40b8f3a64c98",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "oEPPeMVh46RH2Anw",
          "name": "new cheet sheet"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this learning progress entry and create a professional summary:\n\nDate: {{ $json.Date }}\nTopic: {{ $json['Topic/Module'] }}\nWhat I Learned: {{ $json['What I Learned'] }}\nSkills/Tools Used: {{ $json['Skills/Tools'] }}\n\nCreate a concise, impactful summary that:\n1. Highlights the main concept mastered\n2. Emphasizes practical skills gained\n3. Shows progression in the learning journey\n4. Maintains an enthusiastic but professional tone\n\nKeep it under 100 words, focusing on achievements and growth.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        -16
      ],
      "id": "71d6617d-2031-40b0-999b-1db8a476dfb0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -160,
        192
      ],
      "id": "62899b00-dc25-460f-992e-05fe40f564ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8zElAs43GogF5o9h",
          "name": "new Gemini API-KYe"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform this learning summary into an engaging LinkedIn post: {{ $json.text }}\n\nCreate a post that:\n- Starts with a hook about today's learning achievement\n- Shares 2-3 specific insights or skills gained\n- Includes a reflection on how this knowledge applies to real-world scenarios\n- Uses relevant hashtags: #AIBootcamp #LearningJourney #GenerativeAI #TechSkills #100DaysOfCode\n- Ends with a question to engage the community\n- Length: 200-300 words\n- Professional yet authentic tone\n- Include relevant emojis for visual appeal\n\nFormat with line breaks for readability. Start directly with the post content.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -16
      ],
      "id": "8ca95a61-1305-490e-a12d-cbaa5f5c0d97",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        192
      ],
      "id": "4cdff1be-3bb8-4ef2-a029-b8e5530496fa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8zElAs43GogF5o9h",
          "name": "new Gemini API-KYe"
        }
      }
    },
    {
      "parameters": {
        "person": "3Fe1Y241fu",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        544,
        -16
      ],
      "id": "ed269a0b-0e63-4dec-9456-d08723e78d12",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "w49bU57E3ekW8svk",
          "name": "LinkedIn account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "badb2f47-5432-4e8c-8a60-8f3565177bbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "p8Lemqeku3CkbLyc",
  "tags": []
}